<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/build/tailwind.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="navbar bg-base-100">
                <div class="navbar-start">

                    <a href=""><img class="max-h-[150px] max-w-[150px] hover:scale-[1.2]" src="/img/logo.png" alt=""></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal p-0">
                        <li><a href="" class="text-[20px] font-[600]">Trang chủ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Cửa hàng</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Dịch vụ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Tin tức</a></li>
                    </ul>
                </div>
                <div class="navbar-end gap-[25px] pr-[10px]">
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector (1).png" alt=""></a>
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Heart.png" alt=""></a>
                    <div class="indicator">
                        <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector.png" alt=""></a>
                        <span class="badge badge-sm badge-error indicator-item"></span>
                    </div>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </label>
                        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Dịch vụ</a></li>
                            <li><a href="">Tin tức</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>
    <!-- HEADER END  -->
    <main>
        <div class=" bg-[#EDEDED]">
            <div class="py-12">
                <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl  md:max-w-[1440px]">
                    <div class="md:flex ">
                        <div class="w-full  ">

                            <div class="md:grid md:grid-cols-3 gap-2 ">

                                <div class="col-span-2 p-5">

                                    <h1 class="text-xl font-medium ">Giỏ hàng của bạn</h1>

                                    <div class="flex justify-between items-center mt-6 pt-6">
                                        <div class="flex  items-center">
                                            <img src="/img/img.png" width="60" class="rounded-full ">

                                            <div class="flex flex-col ml-3">
                                                <span class="md:text-md font-medium"><a href="" class="hover:underline">
                                                        Dualshock 4 black</a></span>
                                                <span class="text-xs font-light text-gray-400">1.100.000</span>

                                            </div>


                                        </div>

                                        <div class="flex justify-center md:gap-[100px]  items-center">

                                            <div class="pr-8 flex ">
                                                <span class="font-semibold">-</span>
                                                <input type="text" class="focus:outline-none bg-gray-100 border h-6 w-8 rounded text-sm px-2 mx-2" value="1">
                                                <span class="font-semibold">+</span>
                                            </div>

                                            <div class="pr-8 ">

                                                <span class="text-[18px] font-[500]">1100000đ</span>


                                            </div>


                                        </div>
                                        <div class="">
                                            <a href=""><img src="/img/rac.png" alt=""></a>
                                        </div>
                                    </div>









                                    <div class="flex justify-between items-center pt-6 mt-6 border-t">
                                        <div class="flex  items-center">
                                            <img src="/img/img.png" width="60" class="rounded-full ">

                                            <div class="flex flex-col ml-3">
                                                <span class="md:text-md font-medium"> <a href=""
                                                        class="hover:underline">Dualshock 4 black</a> </span>
                                                <span class="text-xs font-light text-gray-400">1.100.000</span>

                                            </div>


                                        </div>
                                        <div class="flex justify-center md:gap-[100px] items-center">

                                            <div class="pr-8 flex">
                                                <span class="font-semibold">-</span>
                                                <input type="text" class="focus:outline-none bg-gray-100 border h-6 w-8 rounded text-sm px-2 mx-2" value="1">
                                                <span class="font-semibold">+</span>
                                            </div>

                                            <div class="pr-8">

                                                <span class="text-[18px] font-[500]">1100000đ</span>
                                            </div>


                                        </div>
                                        <div>
                                            <a href=""><img src="/img/rac.png" alt=""></a>
                                        </div>
                                    </div>











                                    <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                        <div class="flex  items-center">
                                            <img src="/img/img.png" width="60" class="rounded-full ">

                                            <div class="flex flex-col ml-3">
                                                <span class="md:text-md font-medium"> <a href="#"
                                                        class="hover:underline"> Dualshock 4
                                                        black</a></span>
                                                <span class="text-xs font-light text-gray-400">1.100.000</span>

                                            </div>


                                        </div>

                                        <div class="flex justify-center md:gap-[100px] items-center">

                                            <div class="pr-8 flex">
                                                <span class="font-semibold">-</span>
                                                <input type="text" class="focus:outline-none bg-gray-100 border h-6 w-8 rounded text-sm px-2 mx-2" value="1">
                                                <span class="font-semibold">+</span>
                                            </div>

                                            <div class="pr-8">

                                                <span class="text-[18px] font-[500]">1100000đ</span>
                                            </div>


                                        </div>
                                        <div>
                                            <a href=""><img src="/img/rac.png" alt=""></a>
                                        </div>
                                    </div>



                                    <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                        <div class="flex items-center">
                                            <img src="/img/back.png" alt="">
                                            <span class="text-[16px]  font-[600]"><a href=""
                                                    class="hover:underline">Continue Shopping</a>
                                            </span>
                                        </div>



                                    </div>









                                </div>
                                <div class=" py-10 px-5 bg-[#DEDEDE] rounded overflow-visible">


                                    <span class="text-[16px] text-[#4A4A4A] font-[600] ">Voucher giảm giá</span>

                                    <!-- <div class="overflow-visible flex justify-between items-center mt-2">
                                                 





                                        <div class="grid grid-cols-3 gap-2 pt-2 mb-3">



                                        </div>




                                    </div> -->
                                    <form action="">
                                        <div class="c flex items-center justify-center gap-[10px]">
                                            <div class="a"><input type="text" name="" id="" value="ACX2414" class="min-h-[40px] md:min-w-[330px] px-[10px]"></div>
                                            <div class="b btn bg-[#4A4A4A] font-[500]"><button>Áp dụng</button></div>
                                        </div>

                                    </form>
                                    <div class="c flex items-center justify-between py-[20px]">
                                        <div class="a">
                                            <p class="text-[16px] text-[#4A4A4A] font-[600] ">Tạm tính</p>
                                        </div>
                                        <div class="b">
                                            <p class="font-[600] text-[#4A4A4A]">3300000đ</p>
                                        </div>
                                    </div>
                                    <div class="c flex items-center justify-between">
                                        <div class="a">
                                            <p class="text-[16px] text-[#4A4A4A] font-[600] ">Giảm giá</p>
                                        </div>
                                        <div class="b">
                                            <p class="font-[600] text-[#4A4A4A]">-100000đ</p>
                                        </div>
                                    </div>
                                    <div class="d">
                                        <hr class="mb-[20px] mt-[50px] border-[1px] border-[#000]">
                                    </div>
                                    <div class="c flex items-center justify-between">
                                        <div class="a">
                                            <p class="text-[28px] font-[600] text-[#4A4A4A]">Tổng tiền</p>
                                        </div>
                                        <div class="b">
                                            <p class="font-[700] text-[28px] text-[#4A4A4A]">3.200.000đ</p>
                                        </div>
                                    </div>
                                    <p class="text-[14px] bb-[30px] text-[#4A4A4A]">Số tiền này chưa bao gồm phí vận chuyển
                                    </p>



                                    <button class="mt-[50px] h-12 w-full bg-[#4A4A4A] py-[10px] rounded focus:outline-none text-[20px] hover:opacity-80 text-[#fff] font-[500] uppercase">Đặt
                                        hàng</button>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>
    <footer>
        <div class="footer py-[80px]  bg-[#222222] text-[#fff] text-center px-[100px]">
            <div>
                <img src="/img/logo-footer.png" alt="">

            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Hỗ trợ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách bảo hành</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách mua hàng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách thanh toán</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách đổi trả</a>
            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Dịch vụ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Cung cấp máy chơi game chính hãng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Sửa chữa lấy ngay</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Thiết kế, lắp đặt PS Center</a>

            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Liên hệ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]" src="/img/phone.png" alt=""> 033 608 9988
                </a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px]" src="/img/mail.png" alt=""> pshnstore@gmail.com</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]" src="/img/vt.png" alt=""> Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]" src="/img/fb.png" alt=""> https://fb.me/psstorevn</a>

            </div>
        </div>
        <div class="ke max-w-[1440px] container">
            <hr class="border-1 border-[#fff]">
        </div>
        <div class="cop bg-[#222222] text-center py-[30px] ">
            <p class="text-[#fff] text-[20px] font-[400]">Đại lý được ủy quyền bỏi Sony Việt Nam</p>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/main.js"></script>

</body>

</html>