<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/build/tailwind.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar bg-base-100">
                <div class="navbar-start">

                    <a href=""><img class="max-h-[150px] max-w-[150px] hover:scale-[1.2]" src="/img/logo.png"
                            alt=""></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal p-0">
                        <li><a href="" class="text-[20px] font-[600]">Trang chủ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Cửa hàng</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Dịch vụ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Tin tức</a></li>
                    </ul>
                </div>
                <div class="navbar-end gap-[25px] pr-[10px]">
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector (1).png"
                            alt=""></a>
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Heart.png" alt=""></a>
                    <div class="indicator">
                        <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector.png"
                                alt=""></a>
                        <span class="badge badge-sm badge-error indicator-item"></span>
                    </div>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </label>
                        <ul tabindex="0"
                            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Dịch vụ</a></li>
                            <li><a href="">Tin tức</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>
    <!-- HEADER END  -->
    <div class="gr grid 2xl:grid-cols-[350px,1150px] lg:grid-cols-[350px,700px]  grid-cols-1 container gap-[30px]">

        <label for="checker" id="lb"><img class="max-w-[20px]" src="/img/label.png" alt="" />
        </label>
        <input type="checkbox" id="checker" class="hidden" />

        <div class="colll border-2  lg:block">

            <div class="mx-auto  drop-shadow rounded-md  ">
                <div class="ssd bg-[#4A4A4A] flex justify-start items-center gap-3 py-[20px] ">
                    <img class="inline-block ml-5" src="/img/nav.png" alt="">
                    <h1 class="  font-[600] text-[20px] text-[#fff] "> Danh mục sản phẩm
                    </h1>
                </div>
                <div class="search ">
                    <div class="form-control">
                        <div class="input-group justify-center mt-[30px]">
                            <input type="text" placeholder="Search…" class="input input-bordered " />
                            <button class="btn btn-square">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class=" open:bg-amber-200 duration-300 ">
                    <h3 class="ml-[40px] mt-[50px] mb-[15px] font-[600] text-[20px]">Tất cả sản phẩm</h3>
                </div>
                <!-- The Third FAQ -->
                <details class="open:bg-amber-200 duration-300">
                    <summary class="bg-inherit px-5 py-3 font-[600] text-[20px]   cursor-pointer">Máy chơi game
                    </summary>
                    <div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px] t">
                        <ul>
                            <li class="hover:underline"><a href="">Playstation 4</a></li>
                            <li class="hover:underline"><a href="">Playstation 5</a></li>
                            <li class="hover:underline"><a href="">Xbox One X</a></li>
                            <li class="hover:underline"><a href="">Xbox One S</a></li>
                            <li class="hover:underline"><a href="">Nitendo Switch Oled </a></li>
                            <li class="hover:underline"><a href="">Nitendo Switch Lite </a></li>
                        </ul>
                    </div>
                </details>
                <details class="open:bg-amber-200 duration-300">
                    <summary class="bg-inherit px-5 py-3 font-[600] text-[20px]  cursor-pointer">Tay cầm chơi
                        game
                    </summary>
                    <div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px] ">
                        <ul>
                            <li class="hover:underline"><a href="">Tay cầm PS4</a></li>
                            <li class="hover:underline"><a href="">Tay cầm PS5 </a></li>
                            <li class="hover:underline"><a href="">Tay cầm Xbox One</a></li>
                            <li class="hover:underline"><a href="">Nitendo Joycon</a></li>

                        </ul>
                    </div>
                </details>
                <details class="open:bg-amber-200 duration-300">
                    <summary class="bg-inherit px-5 py-3 font-[600] text-[20px]  cursor-pointer">Phụ kiện
                    </summary>
                    <div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px] ">
                        <ul>
                            <li class="hover:underline"><a href="">Playstation 4</a></li>
                            <li class="hover:underline"><a href="">Playstation 5</a></li>
                            <li class="hover:underline"><a href="">Xbox</a></li>
                            <li class="hover:underline"><a href="">Nintendo</a></li>
                        </ul>
                    </div>
                </details>
                <details class=" open:bg-amber-200 duration-300">
                    <summary class="bg-inherit px-5 py-3 font-[600] text-[20px]  cursor-pointer">Games</summary>
                    <div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px] ">
                        <ul>
                            <li class="hover:underline"><a href="">Playstation 4</a></li>
                            <li class="hover:underline"><a href="">Playstation 5</a></li>
                            <li class="hover:underline"><a href="">Xbox One</a></li>
                            <li class="hover:underline"><a href="">Nitendo Switch</a></li>
                        </ul>
                    </div>
                </details>

                <details class="open:bg-amber-200 duration-300">
                    <summary class="bg-inherit px-5 py-3 font-[600] text-[20px]  cursor-pointer ">Thẻ PSN
                    </summary>

                </details>
                <label for="checker" id="lb"><img class="max-w-[50px] label2"
                        src="/img/ant-design_close-circle-outlined.png" alt="" /></label>
                <input type="checkbox" id="checker" class="hidden" />
            </div>
        </div>
        <!-- colll end  -->
        <div class="col container ">
            <div class="prod grid lg:grid-cols-2 lg:gap-[50px] grid-cols-1">
                <div class="imggggg">
                    <img src="/img/Rectangle 41.png" alt="">
                </div>

                <div class="pr">
                    <h2 class="text-[40px] font-[400]">Playstation 4 - Slim 500GB</h2>
                    <br>
                    <p class="font-[700] text-[40px]">7.500.000đ</p>
                    <div class="rating">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <br>
                    <span class="font-[600] text-[30px]">Bảo hành :</span> <span class="font-[400] text-[30px]"> 1
                        năm</span>
                    <br>
                    <span class="font-[600] text-[30px]">Kho hàng :</span> <span class="font-[400] text-[30px]"> Còn
                        hàng</span>
                    <div class="ll py-[50px] flex justify-start items-center gap-8">
                        <div class="l">
                            <a href=""
                                class="py-[15px] px-[30px] bg-[#4A4A4A] text-[#fff] font-[400] text-[24px] hover:opacity-80">Mua
                                ngay</a>
                        </div>
                        <div class="r">
                            <a href=""
                                class="py-[15px] px-[30px] bg-[#4A4A4A] text-[#fff] font-[400] text-[24px] hover:opacity-80">Thêm
                                vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- prod end  -->
            <div class="thong py-[80px]">
                <h3 class="font-[600] text-[30px] py-[15px]">Thông số kỹ thuật</h3>
                <ul class=" list-disc pl-[20px]">
                    <li class="menu-item ">
                        Hãng sản xuất: Sony
                    </li>
                    <li class="menu-item">
                        Bộ xử lý chính:
                    </li>
                    <li class="menu-item">
                        CPU: Chip xử lý trong một x86-64 AMD "Jaguar" lõi 8.
                    </li>
                    <li class="menu-item">
                        GPU: 1,84 TFLOPS, thế hệ Radeon tiếp theo dựa trên engine đồ họa của AMD.
                    </li>
                    <li class="menu-item">
                        Bộ nhớ: GDDR5 8GB
                    </li>
                    <li class="menu-item">
                        Ổ đĩa quang (Chỉ đọc), BD 6xCAV, DVD 8xCAV
                    </li>
                    <li class="menu-item">
                        Cổng giao tiếp: Internet (10BASE-T, 100BASE-TX, 1000BASE-T), Wifi chuẩn IEEE 802.11 b/g/n,
                        Bluetooth 2.1 (EDR), USB 3.0, AUX
                    </li>
                    <li class="menu-item">
                        Kết nối: HDMI, Analog-AV
                    </li>
                </ul>

            </div>
            <!-- thong end  -->
            <div class="lienquan ">
                <h2 class="font-[500] text-[35px] ">Sản phẩm liên quan</h2>
                <div class="pro ">

                    <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
                        <div class="w-full relative flex items-center justify-center">
                            <button aria-label="slide backward"
                                class="absolute z-30 lg:left-[-80px] left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
                                id="prev">
                                <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                            <div class="  overflow-x-hidden overflow-y-hidden container">
                                <div id="slider"
                                    class="h-full flex lg:gap-8 md:gap-6 gap-[5px] items-center justify-start transition ease-out duration-700">
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                                        <div class="  ">
                                            <div class="card w-80 bg-base-100 shadow-xl">
                                                <figure><img src="/img/product-image.png" alt="Shoes" />
                                                </figure>
                                                <div class="card-body">
                                                    <h2 class="card-title text-[18px] font-[500]"> <a href=""
                                                            class="hover:underline">Playstation 4 -
                                                            Day of Play
                                                            edition</a> </h2>
                                                    <div class="mid flex justify-between items-center">
                                                        <div class="rating">
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                            <input type="radio" name="rating-2"
                                                                class="mask mask-star-2 bg-orange-400" />
                                                        </div>
                                                        <div class="tim">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/tim.png"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                    <!-- mì end  -->
                                                    <span class="text-[16px] font-[300]">10 reviews</span>
                                                    <div class="cec flex justify-between items-center">
                                                        <div class="price font-[600] text-[24px]">7.000.000đ
                                                        </div>
                                                        <div class="gh">
                                                            <a href=""><img class="hover:scale-[1.2]" src="/img/gh.png"
                                                                    alt=""></a>

                                                        </div>
                                                    </div>

                                                    <div class="card-actions justify-end mt-[10px]">
                                                        <button class="btn w-full">Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <button aria-label="slide forward"
                                class="absolute z-30 lg:right-[-80px] right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
                                id="next">
                                <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>




                </div>
            </div>
            <!-- sony end  -->
            <div class="form  border-[1px] border-[#B9B9B9] rounded my-[30px]">
                <div class="ten pl-[15px] pt-[15px] pb-[20px]">
                    <img class="inline-block" src="/img/bl.png" alt=""> <span
                        class="text-[22px] font-[600] inline-block pl-3">Bình
                        luận</span>
                </div>

                <div class="kl flex justify-start pl-[50px] items-center gap-3">
                    <div class="card-actions justify-start ">
                        <div class="avatar">
                            <div class="w-[50px] rounded-full mt-5">
                                <img src="https://placeimg.com/192/192/people" />
                            </div>
                        </div>
                    </div>
                    <div class="con">
                        <span class="font-[600] text-[20px]">Quang
                            Hiệp</span>
                        <p class="text-[20px]">Sản phẩm này hiện còn hàng không shop??</p>
                    </div>
                </div>
                <div class="rep pl-[100px] pt-[10px]">
                    <img src="/img/rep.png" alt="" class="inline-block"> <span
                        class="text-[#407CB4] font-[400] text-[20px] ">Phản hồi</span>
                </div>
                <form action="" method="post">
                    <div class="lllp flex justify-start gap-[30px] items-center py-6 px-5">
                        <div class="imggs">
                            <img src="/img/Ellipse 1.png" alt="">
                        </div>
                        <div class="cm ">
                            <input type="text" name="" id="" placeholder="Write comment ..."
                                class="min-h-[60px] 2xl:min-w-[900px] lg:min-w-[500px] min-w-[200px] px-[12px] border-2 rounded">
                        </div>
                        <button><img src="/img/enter.png" alt=""></button>
                    </div>

                </form>
            </div>
        </div>


    </div>

    </div>
    </div>



    <footer>
        <div class="footer py-[80px]  bg-[#222222] text-[#fff] text-center">
            <div>
                <img src="/img/logo-footer.png" alt="">

            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Hỗ trợ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách bảo hành</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách mua hàng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách thanh toán</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Chính sách đổi trả</a>
            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Dịch vụ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Cung cấp máy chơi game chính hãng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Sửa chữa lấy ngay</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]">Thiết kế, lắp đặt PS Center</a>

            </div>
            <div class="flex flex-col justify-between gap-[20px]">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px]">Liên hệ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]"
                        src="/img/phone.png" alt=""> 033 608
                    9988</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px]"
                        src="/img/mail.png" alt=""> pshnstore@gmail.com</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]"
                        src="/img/vt.png" alt=""> Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff]"> <img class="inline-block mr-[10px]"
                        src="/img/fb.png" alt=""> https://fb.me/psstorevn</a>

            </div>
        </div>
        <div class="ke max-w-[1440px] container">
            <hr class="border-1 border-[#fff]">
        </div>
        <div class="cop bg-[#222222] text-center py-[30px] ">
            <p class="text-[#fff] text-[20px] font-[400]">Đại lý được ủy quyền bỏi Sony Việt Nam</p>
        </div>

    </footer>
    <script src="main.js"></script>
</body>

</html>