<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" rel="stylesheet" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/build/tailwind.css">
</head>

<body>
    <div class="bgfull  flex items-center h-[100vh]">
        <div class=" max-w-[800px] max-h-[980px] container ">
            <form class="bg-white shadow-md rounded-lg px-8 py-[100px] mb-4 text-center bg-opacity-80">
                <h1 class="text-[64px] font-[300]">Quên mật khẩu</h1>

                <div class="mb-6">
                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Tài khoản">
                    <small></small>
                </div>
                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="my_email" type="password" placeholder="Email đăng ký">

                    <small></small>
                </div>
                <div class="flex items-center justify-center mt-[10px]">
                    <button class="bg-[#64E7A0] hover:opacity-80 text-white font-semibold py-5 px-10 rounded-lg focus:outline-none focus:shadow-outline" type="button">
                        Lấy mật khẩu xác thực
            </button>
                </div>

            </form>
        </div>
    </div>
</body>
</html