<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="" rel="stylesheet" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/build/tailwind.css">
</head>

<body>
    <div class="bgfull  flex items-center h-[100vh]">
        <div class=" max-w-[907px] max-h-[100vh] container ">
            <form class="bg-white shadow-md rounded-lg px-8 py-[30px] mb-4 text-center bg-opacity-80">
                <h1 class="text-[64px] font-[300] mb-8">Đăng ký tài khoản</h1>
                <!-- tài khoản -->
                <div class="mb-6">
                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Tài khoản">
                    <small></small>
                </div>
                <!-- tài khoản -->


                <!-- mk  -->

                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Mật khẩu">

                    <small></small>
                </div>
                <!-- mk  -->

                <!-- nhập lại mk  -->

                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="password2" type="password" placeholder="Xác nhận mật khẩu">

                    <small></small>
                </div>

                <!-- nhập lại mk  -->




                <!-- tên  -->
                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="my_name" type="text" placeholder="Tên của bạn ?">

                    <small></small>
                </div>

                <!-- tên  -->



                <!-- email  -->
                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="my_email" type="email" placeholder="Email">

                    <small></small>
                </div>
                <!-- email  -->


                <!-- địa chỉ  -->
                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="my_add" type="text" placeholder="Địa chỉ">

                    <small></small>
                </div>

                <!-- địa chỉ  -->



                <!-- sđt  -->
                <div class="mb-8">

                    <input class=" outline-none  bg-inherit border-b-2 appearance-none border-[#4A4A4A]  w-full py-2 px-3 text-[#4A4A4A] leading-tight focus:outline-none focus:shadow-outline" id="my_phone" type="text" placeholder="Số điện thoại">

                    <small></small>
                </div>
                <!-- sđt  -->

                <div class="flex items-center justify-center mt-[10px]">
                    <button class="bg-[#64E7A0] hover:opacity-80 text-white font-semibold py-5 px-10 rounded-lg focus:outline-none focus:shadow-outline" name="btn_submit" type="button">
              Đăng ký
            </button>
                </div>

            </form>
        </div>
    </div>
</body>
</html