<table class="table">
	<tr>
		<th>Tên sản phẩm</th>
		<td>Tay cầm DUALSHOCK®4</td>
	</tr>
	<tr>
		<th>Tên sản phẩm</th>
		<td>Tay cầm DUALSHOCK®4</td>
	</tr>
	<tr>
		<th>Mã sản phẩm</th>
		<td>CUH-ZCT2</td>
	</tr>
	<tr>
		<th>Kích thước</th>
		<td>1mm x 57mm x 100mm</td>
	</tr>
	<tr>
		<th>Trọng lượng</th>
		<td>Xấp xỉ 210g</td>
	</tr>
	<tr>
		<th>Phím</th>
		<td>
			Nút PS, nút CHIA SẺ, nút TÙY CHỌN, nút Hướng (Lên / Xuống / Trái / Phải), Nút hành động (Hình tam giác, Hình tròn, Chữ thập, Hình vuông), nút R1 / L1 / R2 / L2, Nút thanh trái / L3, Thanh phải
			Nút / R3, Nút Touch Pad/ Touch Pad/Cảm biến chuyển động
		</td>
	</tr>
	<tr>
		<th>Pin</th>
		<td>Pin sạc Lithium-ion tích hợp,DC3,65V,1000mAh</td>
	</tr>
	<tr>
		<th>Cổng kết nối</th>
		<td>Bluetooth® v2.1</td>
	</tr>
</table>
