<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/tailwind.css" />
		<link rel="stylesheet" href="/build/tailwind.css" />
	</head>

	<body>
		<!-- HEADER END  -->
		<main>
			<div class="gr grid lg:grid-cols-[350px,800px] xl:grid-cols-[350px,1200px] grid-cols-1 container gap-[30px]">
				<label for="checker" id="lb"><img class="max-w-[20px]" src="/img/label.png" alt="" /> </label>
				<input type="checkbox" id="checker" class="hidden" />

				<div class="colll border-2 lg:block">
					<div class="mx-auto drop-shadow rounded-md">
						<div class="ssd bg-[#4A4A4A] flex justify-start items-center gap-3 py-[20px]">
							<img class="inline-block ml-5" src="/img/nav.png" alt="" />
							<h1 class="font-[600] text-[20px] text-[#fff]">Danh mục sản phẩm</h1>
						</div>
						<div class="search">
							<div class="form-control">
								<div class="input-group justify-center mt-[30px]">
									<input type="text" placeholder="Search…" class="input input-bordered" />
									<button class="btn btn-square">
										<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
										</svg>
									</button>
								</div>
							</div>
						</div>
						<div class="open:bg-amber-200 duration-300">
							<h3 class="ml-[40px] mt-[50px] mb-[15px] font-[600] text-[20px]">Tất cả sản phẩm</h3>
						</div>
						<!-- The Third FAQ -->
						<details class="open:bg-amber-200 duration-300">
							<summary class="bg-inherit px-5 py-3 font-[600] text-[20px] cursor-pointer">Máy chơi game</summary>
							<div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px] t">
								<ul>
									<li class="hover:underline"><a href="">Playstation 4</a></li>
									<li class="hover:underline"><a href="">Playstation 5</a></li>
									<li class="hover:underline"><a href="">Xbox One X</a></li>
									<li class="hover:underline"><a href="">Xbox One S</a></li>
									<li class="hover:underline"><a href="">Nitendo Switch Oled </a></li>
									<li class="hover:underline"><a href="">Nitendo Switch Lite </a></li>
								</ul>
							</div>
						</details>
						<details class="open:bg-amber-200 duration-300">
							<summary class="bg-inherit px-5 py-3 font-[600] text-[20px] cursor-pointer">Tay cầm chơi game</summary>
							<div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px]">
								<ul>
									<li class="hover:underline"><a href="">Tay cầm PS4</a></li>
									<li class="hover:underline"><a href="">Tay cầm PS5 </a></li>
									<li class="hover:underline"><a href="">Tay cầm Xbox One</a></li>
									<li class="hover:underline"><a href="">Nitendo Joycon</a></li>
								</ul>
							</div>
						</details>
						<details class="open:bg-amber-200 duration-300">
							<summary class="bg-inherit px-5 py-3 font-[600] text-[20px] cursor-pointer">Phụ kiện</summary>
							<div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px]">
								<ul>
									<li class="hover:underline"><a href="">Playstation 4</a></li>
									<li class="hover:underline"><a href="">Playstation 5</a></li>
									<li class="hover:underline"><a href="">Xbox</a></li>
									<li class="hover:underline"><a href="">Nintendo</a></li>
								</ul>
							</div>
						</details>
						<details class="open:bg-amber-200 duration-300">
							<summary class="bg-inherit px-5 py-3 font-[600] text-[20px] cursor-pointer">Games</summary>
							<div class="bg-white px-5 py-3 border border-gray-300 font-[600] text-[15px]">
								<ul>
									<li class="hover:underline"><a href="">Playstation 4</a></li>
									<li class="hover:underline"><a href="">Playstation 5</a></li>
									<li class="hover:underline"><a href="">Xbox One</a></li>
									<li class="hover:underline"><a href="">Nitendo Switch</a></li>
								</ul>
							</div>
						</details>

						<details class="open:bg-amber-200 duration-300">
							<summary class="bg-inherit px-5 py-3 font-[600] text-[20px] cursor-pointer">Thẻ PSN</summary>
						</details>
						<label for="checker" id="lb"><img class="max-w-[50px] label2" src="/img/ant-design_close-circle-outlined.png" alt="" /></label>
						<input type="checkbox" id="checker" class="hidden" />
					</div>
				</div>
				<!-- colll end  -->
				<div class="col container">
					<div class="sss">
						<img class="w-full" src="/img/div-banner.png" alt="" />
					</div>
					<div class="bocsss flex justify-between items-center">
						<div class="supo">
							<label for="checker" class="label2" id="lb"><img class="max-w-[20px]" src="/img/label.png" alt="" /> </label>
							<input type="checkbox" id="checker" class="hidden" />
						</div>

						<div class="timkiem flex justify-end items-center gap-3 my-[35px]">
							<h3>Lọc Theo :</h3>
							<div class="sd">
								<div class="form-control">
									<div class="input-group">
										<select class="select select-bordered">
											<option selected>Giá tăng dần</option>
											<option>Giá giảm dần</option>
											<option>Sản phẩm mới</option>
										</select>
										<button class="btn">Go</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sony">
						<div class="title flex items-center gap-4">
							<div class="boc">
								<img src="/img/sony.png" alt="" />
							</div>
							<h3 class="text-[40px] font-[600px]">Sony Playstation</h3>
						</div>
						<!-- title end  -->
						<div class="pro">
							<div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
								<div class="w-full relative flex items-center justify-center">
									<button
										aria-label="slide backward"
										class="absolute z-30 lg:left-[-80px] left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
										id="prev"
									>
										<svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
										</svg>
									</button>
									<!-- slider -->
									<div class="overflow-x-hidden overflow-y-hidden container">
										<div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-[5px] items-center justify-start transition ease-out duration-700">
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="flex flex-shrink-0 relative w-full sm:w-auto">
												<div class="  ">
													<div class="card w-80 bg-base-100 shadow-xl">
														<figure><img src="/img/product-image.png" alt="Shoes" /></figure>
														<div class="card-body">
															<h2 class="card-title text-[18px] font-[500]"><a href="" class="hover:underline">Playstation 4 - Day of Play edition</a></h2>
															<div class="mid flex justify-between items-center">
																<div class="rating">
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																	<input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
																</div>
																<div class="tim">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/tim.png" alt="" /></a>
																</div>
															</div>
															<!-- mì end  -->
															<span class="text-[16px] font-[300]">10 reviews</span>
															<div class="cec flex justify-between items-center">
																<div class="price font-[600] text-[24px]">7.000.000đ</div>
																<div class="gh">
																	<a href=""><img class="hover:scale-[1.2]" src="/img/gh.png" alt="" /></a>
																</div>
															</div>

															<div class="card-actions justify-end mt-[10px]">
																<button class="btn w-full">Buy Now</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button
										aria-label="slide forward"
										class="absolute z-30 lg:right-[-80px] right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
										id="next"
									>
										<svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- sony end  -->
				</div>
			</div>
		</main>

		<script src="https://cdn.tailwindcss.com"></script>
		<script src="/main.js"></script>
	</body>
</html>
