<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/build/tailwind.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="navbar bg-base-100">
                <div class="navbar-start">

                    <a href=""><img class="max-h-[150px] max-w-[150px] hover:scale-[1.2]" src="/img/logo.png" alt=""></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal p-0">
                        <li><a href="" class="text-[20px] font-[600]">Trang chủ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Cửa hàng</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Dịch vụ</a></li>
                        <li><a href="" class="text-[20px] font-[600]">Tin tức</a></li>
                    </ul>
                </div>
                <div class="navbar-end gap-[25px] pr-[10px]">
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector (1).png" alt=""></a>
                    <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Heart.png" alt=""></a>
                    <div class="indicator">
                        <a href=""><img class="max-h-[25px] max-w-[25px] hover:scale-[1.5]" src="/img/Vector.png" alt=""></a>
                        <span class="badge badge-sm badge-error indicator-item"></span>
                    </div>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </label>
                        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Cửa hàng</a></li>
                            <li><a href="">Dịch vụ</a></li>
                            <li><a href="">Tin tức</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>
    <!-- HEADER END  -->
    <main class="w-full bg-[#EDEDED] py-[50px]">
        <div class="grid grid-cols-[399px,auto] gap-5  container">
            <div class="col_trai ">


                <aside class="w-96 " aria-label="Sidebar">
                    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded-2xl dark:bg-gray-800 shadow-xl">
                        <ul class="space-y-2">
                            <li>
                                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <img src="/img/view-profile.png" class="" alt="">
                                    <span class="ml-3">Thông tin tài khoản</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <img src="/img/PencilSquare.png" alt="">
                                    <span class="flex-1 ml-3 whitespace-nowrap">Thay đổi thông tin</span>
                                    <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <img src="/img/Lock.png" alt="">
                                    <span class="flex-1 ml-3 whitespace-nowrap">Đổi mật khẩu</span>
                                    <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <img src="/img/Heart2.png" alt="">
                                    <span class="flex-1 ml-3 whitespace-nowrap">Danh sách yêu thích</span>
                                    <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <img src="/img/ClockHistory.png" alt="">
                                    <span class="flex-1 ml-3 whitespace-nowrap">Lịch sử mua hàng</span>
                                </a>
                            </li>

                        </ul>

                        <div class="baoo flex justify-start mt-[290px] items-center">
                            <div class="avt">
                                <img src="/img/avt.png" alt="">
                            </div>
                            <div class="info text-start">
                                <h3 class="text-[#4A4A4A] text-[16px] hover:underline"> <a href="">Quang Hiệp</a></h3>
                                <p class="text-[#858585]"> quanghiep03198@gmail.com</p>
                            </div>
                            <div class=" camera ml-10">
                                <a href=""><img src="/img/cam.png " alt=" "></a>
                            </div>

                        </div>



                    </div>
                </aside>

            </div>






            <div class="col_phai ">

                <div class="w-auto ">
                    <div class="overflow-y-auto py-[50px] px-3 bg-gray-50 rounded-2xl dark:bg-gray-800 shadow-xl">

                        <form action="" method="post" class="ml-[30px]">
                            <h1 class="text-[40px] font-light mb-[40px]">Thay đổi thông tin</h1>
                            <div class="mkht ">
                                <p>Tên người dùng</p>
                                <div class="pass mt-[10px]">
                                    <input type="password" name="pass_ht" id="pass_ht" class="border-[2px] min-h-[35px] rounded-xl w-[95%]">
                                    <small></small>
                                </div>
                            </div>


                            <div class="mkm my-[20px]">
                                <p>Email</p>
                                <div class="pass mt-[10px]">
                                    <input type="password2" name="pass_ht2" id="pass_ht2" class="border-[2px] min-h-[35px] rounded-xl w-[95%]">
                                    <small></small>
                                </div>
                            </div>



                            <div class="mkm2 ">
                                <p>Số điện thoại</p>
                                <div class="pass mt-[10px]">
                                    <input type="password3" name="pass_ht3" id="pass_ht3" class="border-[2px] min-h-[35px] rounded-xl w-[95%]">
                                    <small></small>
                                </div>
                            </div>


                            <div class="mkm2 mt-[20px]">
                                <p class="text-[#000000] font-semibold">Địa chỉ</p>
                                <div class="pass mt-[10px]">
                                    <input type="password3" name="pass_ht3" id="pass_ht3" class="border-[2px] min-h-[35px] rounded-xl w-[95%]">
                                    <small></small>
                                </div>
                            </div>

                            <button type="submit " class="btn min-h-[45px] min-w-[180px] bg-[#4A4A4A] mt-[30px]">Cập nhật</button>
                        </form>

                    </div>
                </div>
            </div>




        </div>

    </main>
    <footer>
        <div class="footer py-[80px] bg-[#222222] text-[#fff] text-center ">
            <div>
                <img src="/img/logo-footer.png " alt=" ">

            </div>
            <div class="flex flex-col justify-between gap-[20px] ">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px] ">Hỗ trợ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Chính sách bảo hành</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Chính sách mua hàng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Chính sách thanh toán</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Chính sách đổi trả</a>
            </div>
            <div class="flex flex-col justify-between gap-[20px] ">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px] ">Dịch vụ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Cung cấp máy chơi game chính hãng</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Sửa chữa lấy ngay</a>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] ">Thiết kế, lắp đặt PS Center</a>

            </div>
            <div class="flex flex-col justify-between gap-[20px] ">
                <span class="text-[32px] font-[600] text-[#fff] mb-[15px] ">Liên hệ</span>
                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px] " src="/img/phone.png " alt=" "> 033 608 9988
                </a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px] " src="/img/mail.png " alt=" "> pshnstore@gmail.com</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px] " src="/img/vt.png " alt=" "> Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</a>

                <a class="link link-hover text-[20px] font-[400] text-[#fff] "> <img class="inline-block mr-[10px] " src="/img/fb.png " alt=" "> https://fb.me/psstorevn</a>

            </div>
        </div>
        <div class="ke max-w-[1440px] container ">
            <hr class="border-1 border-[#fff] ">
        </div>
        <div class="cop bg-[#222222] text-center py-[30px] ">
            <p class="text-[#fff] text-[20px] font-[400] ">Đại lý được ủy quyền bỏi Sony Việt Nam</p>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com "></script>
    <script src="/main.js "></script>

</body>

</html>