@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-color: #3d4451;
		--secondary-color: rgba(64, 124, 180, 1);
		/* ... */
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
@layer components {
}
@layer utilities {
	.table,
	.table > thead,
	.table > body {
		background-color: white !important;
		background-opacity: 1;
		color: black;
	}

	.scroll-smooth {
		scroll-behavior: smooth;
	}
	.swiper-wrapper {
		width: 100%;
		height: fit-content;
	}
	.swiper {
		width: 100%;
		height: fit-content;
	}
	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.swiper-slide {
		text-align: center;
		background: #fff;
		width: 330px;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper {
		margin-left: auto;
		margin-right: auto;
	}
	.swiper-pagination-bullet {
		width: 1rem;
		height: 1rem;
		border: 2px solid lightslategray;
		background-color: #570df8;
	}

	.swiper-pagination-bullet-active {
		background-color: #570df8;
	}
	.center {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.hidden-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: gray;
	}
}
